<html>
  <head>
    <link rel="stylesheet" type="text/css"  href="/admin-style.css">
    <title>
        admin
    </title>
    </head>
    <body>
    <h1 class=title1>Enter Route</h1>    
        <form class="formBody" action="/user">
            
<input class="textField1" type="textField"> </input>
<input class = "b1" type="submit"></input>
</form>
    </body>
</html>