<div class="gridItem">
    <img
    height="240px", 
    src="https://img.washingtonpost.com/rf/image_606w/2010-2019/WashingtonPost/2013/07/03/Travel/Images/books.jpg">
    <div class="gridTitle">
        <%=products.student_name %>
    </div>
</div>