<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/login-style.css">
    <title>
        Login
    </title>

</head>

<body>

    <div class="centerTitle">
        <div class="loginCard">
            <div class="centerTitle">Login</div>
            <form action="/login" method="post">
                <div><input type="text" name="email" class="textfieldUserName" placeholder="Email"></div>
                <div><input type="text" name="'password" class="textfieldPassword" placeholder="Password"></div>
                <input type="submit" class="loginButton" placeholder="Login"><br>
              <button class="SignUpButton">Sign Up</button>
                <!-- <a href="/singup" class="SignUpButton">Sign Up</a> -->
    
            </form>

        </div>
    </div>
</body>

</html>