<div class="navbar">
    <a class=<%=isAdmin ? "navbar_button_active" : "navbar_button" %> href="/">Home</a>
    <a class=<%=isUser ? "navbar_button_active" :"navbar_button" %> href="/user">Add book</a>
</div>