<div class="navbar">  
    <a class= <%= isAdmin ? "navbar_button_active" : "navbar_button" %> href="/">home</a>
    <a class=<%= isUser ? "navbar_button_active" :"navbar_button"  %> href="/user">add book</a>
    
            </div>