<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/login-style.css">
    <title>
        Login
    </title>
</head>
<body>
    <div class="centerTitle">
        <div class="loginCard">
            <div class="centerTitle">Login</div>
            <form action="/createuser" method="post">
                <div><input type="text" name="email" class="textfieldUserName" placeholder="Email"></div>
                <div><input type="text" name="password" class="textfieldPassword" placeholder="Password"></div>
                <!-- <form action="/createuser" method="get"><button class="SignUpButton">Sign Up</button></form> -->
                <br>
                <input type="submit" class="SignUpButton2">
            </form>           
        </div>
    </div>
</body>
</html>