<html>
  <head>
    <title>
        admin
    </title>
    <link rel="stylesheet" href="/user-style.css" >
    </head>
    <body>
        
    <div class="headerText"><h1 style="color: white;">
        User Page
        </h1> </div>   
  <div class ="form-align">
    <form class="user-form">
        Book Name
    <input class="textField" type="text" name="Book Name"></input>
    category
    <input class="textField" type="text" name="category"></input>
    artist
    <input class="textField" type = "text" name="artist"></input>
    <button class="submitButton" type="submit">Submit</button>
       </form>
    
    </form>
    
  </div>
    </body>
      
</html>